.footer {
  .map {
    filter: grayscale(50%);
  }

  .social {
    @include flex(center);
    gap: 1rem;
    margin: 7rem 0 2.1rem;

    &-item a {
      color: #666;
      font-size: 3rem;
    }

    &-item:hover a {
      opacity: 0.6;
    }
  }

  .copyright {
    text-align: center;
    margin-bottom: 7rem;

    a {
      text-transform: uppercase;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
